/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #121212;
    background-alt: #191919;
    foreground:     #c8c8c8;
    selected:       #3c81f7;
    active:         #798347;
    urgent:         #a55377;
    violet:	    #6d64d8;
    red:	    #a55377;
}
